.ir_ui_helpers_tree * {margin:0; padding:0;}
.ir_ui_helpers_tree {
	li {
		line-height: 138.46%;
		list-style:none;
		padding-left:21px;
		background: none;
		
		a {
			font-size: 115.38%;
		}
		
		li {
			background:url('./rootNode.png') no-repeat;
			background-position: 17px -2px;
			margin-left:10px;
			padding-left:36px;
			
			a {
				font-size: 100%;
				font-weight: normal;
				font-family: Arial, Helvetica, sans-serif;
			}
		}
		li.root {
			padding-left:10px;
			background:url('./justOne.png') repeat-y 17px 0;
		}
		li.last {
			/*background:url('./lastRoot.png') no-repeat 17px 0;*/
			padding-bottom: 20px;
		}
		li.last.closed {
			padding-bottom: 0;
		}
		li.verylast-inner {
			padding-bottom: 0;
			background:url('./lastRoot.png') no-repeat 17px 0;
		}
	}
	li.root {
		padding-left:0;
	}
	
	
	.expand {
		background:url('./plusMinus.png') no-repeat;
		width:16px;
		height:13px;
		display:block;
		float:left;
		margin: 2px 5px 0 0;
		padding:0 5px 0 0;
		text-indent:-9999px;
		line-height:0;
		font-size:0;
		
		&.contract {
			background-position:0 -16px;
		}
		
		&:hover {
			cursor:pointer;
		}
	}
}


.tree {
	@extend .ir_ui_helpers_tree;
}